<a href="https://colab.research.google.com/github/Deepanshu-8126/Deepanshu-8126/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# PANDAS
import numpy as np
import pandas as pd

In [ ]:
# series from lists

# string
country = ['India','Pakistan','USA','Nepal','Srilanka']

pd.Series(country)
# in series a index and value here india assign the value india -0
# dtype = object means this is a string
# series there are two things values and index

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [ ]:
# integers ( we want to store batsman data this is in the form of integers)
runs=[13,24,56,78,100]

# we want to store this is in series
print(pd.Series(runs))

# dtype = int64

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [ ]:
# CUSTOM INDEX (we can provide index)
marks=[67,57,89,100]
subjects=['maths','english','science','social science']

pd.Series(marks,index=subjects)

maths              67
english            57
science            89
social science    100
dtype: int64

In [ ]:
# setting a name (Means we can give a name to series object)

marks=pd.Series(marks,index=subjects,name='Deepanshu Marks')
print(marks)

maths              67
english            57
science            89
social science    100
Name: Deepanshu Marks, dtype: int64

In [ ]:
# Series from dictionary

calories={"day":420,"day2":380,"day3":390}
my_var=pd.Series(calories) # pass dictionary
print(my_var)
print(my_var.loc["day2"])
print(my_var.loc["day3"])

day     420
day2    380
day3    390
dtype: int64
380
390

In [ ]:
# example--
marks={"deepanshu":56,"Himanshu":56,"vishal":65}
marks_=pd.Series(marks,name="Student marks")
print(marks_)

deepanshu    56
Himanshu     56
vishal       65
Name: Student marks, dtype: int64

Series Attributes

In [ ]:
# size -- total items
marks_.size

3

In [ ]:
# dtype (typee of data in our series)
marks_.dtype

dtype('int64')

In [ ]:
# 3-- name
marks_.name
# output -- student marks

'Student marks'

In [ ]:
# is_unique (repeat or not return true )
marks_.is_unique
print(marks_.is_unique)

# create a series
series=pd.Series([1,1,2,2,3,4,5,6])
print(series.is_unique) # false duplicates

False
False

In [ ]:
# 4--index ( return index ( index object ))
marks_.index

print(series.index) # return range index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
# 5 - values ( return values all in our series as an numpy array)
print(marks_.values)
print(series.values)

[56 56 65]
[1 1 2 2 3 4 5 6]

SERIES USING READ_CSV

using dataset uploading csv file comma separated values ( series object create using  read csv read csv files )

In [ ]:
# uplod three csv files subs.csv bollywood.csv kohli.pl.csv
# 1 -subs.csv
# how to read ( path copy and paste it under brackets )

pd.read_csv('/content/subs.csv') # stores in the format dataframe by default
# after runing this is not a series

FileNotFoundError: [Errno 2] No such file or directory: '/content/subs.csv'

In [ ]:
# convert  to series ( paramter squueze = TRUE)
# dataframe

df=pd.read_csv("/content/subs.csv")
s=df.squeeze()
print(type(s))
print(s)
# truncated data

<class 'pandas.core.series.Series'>
0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
# 2- csv file load

df=pd.read_csv('/content/kohli_ipl.csv',index_col='match_no')
s=df.squeeze()
print(s)
print(type(s))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# 3-- csv filee upload (name object name lead)

df=pd.read_csv('/content/bollywood.csv',index_col='movie',)
s=df.squeeze()
print(s)
print(type(s))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>